.feature-category {
  margin-top: 1.5rem !important;
  &__header {
    h6 {
      font-size: 1.5rem;
      line-height: 2.0625rem;
      text-transform: uppercase;
      color: #d7dbec;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 0px 12px;
  }
  &__item,
  &__item1 {
    &-video {
      width: 190px;
      height: auto;
      border-radius: 8px;
    }
  }
  &__item:first-child {
    flex-grow: 1;
    max-width: 408px;
    video {
      width: 391px;
      height: auto;
      border-radius: 8px;
    }
  }
  &__item1:last-child {
    flex-grow: 1;
    max-width: 408px;
    video {
      width: 391px;
      height: auto;
      border-radius: 8px;
    }
  }
  .mrt-12 {
    margin-top: 12px;
  }
}
